
.click-to-top {
	display: flex;
	position: fixed;
	width: 64px;
	height: 64px;
	border-radius: 32px;
	right: 60px;
	bottom: 48px;
	cursor: pointer;
	opacity: 0;
	box-shadow: 0 2px 15px rgba(0,0,0,0.15);
	font-size: 24px;
	transition: 0.3s;
	z-index: 10;
}

.click-to-top.show {
	opacity: 1;
}

.click-to-top.show:hover {
	background-color: #555;
}

