
.click-to-top {
	display: grid;
	position: sticky;
	grid-template-columns: repeat(10, 1fr);
	bottom: 0;
	width: 33%;
	height: 64px;
	cursor: pointer;
	opacity: 0;
	transform: translateY(10px);
	box-shadow: 0 2px 15px rgba(0,0,0,0.15);
	font-size: 24px;
	user-select: none;
	transition: 0.3s;
	z-index: 99;
}

.click-to-top.show {
	background-color: #fff;
	color: #fdfdfd !default!;
	opacity: 1;
	transform: translateY(0);
}

.click-to-top.show:hover {
	background-color: #555;
}

