
.click-to-top {
	display: grid;
	position: sticky;
	grid-template-columns: repeat(10, 1fr);
	background-color: $theme-color;
	color: #fff;
	max-width: 1000px;
	bottom: 0;
	margin: 0 auto;
	padding: 30px;
	opacity: 0;
	transition: 0.3s;
	transform: translateY(10px);
	box-shadow: 0 2px 15px rgba(0,0,0,0.15);
	z-index: 1;
	.click-box {
		grid-column: span 10;
		text-align: center;
		font-size: 24px;
		i {
			color: #fff;
		}
	}
}

.click-to-top.show {
	background-color: $theme-color;
	opacity: 1;
	transition: 0.3s;
	transform: translateY(0);
}

.click-to-top.show:hover {
	background-color: #fff;
	i {
		color: $theme-color;
	}
}

