
.fixed-head {
	display: grid;
	position: sticky;
	grid-template-columns: repeat(10, 1fr);
	grid-column: 1/-1;
	background: $theme-color;
	max-width: 1000px;
	padding: 30px;
	top: 0;
	z-index: 1;
	margin: 0 auto;
	a {
		color: #fff;
	}
	.title-upper {
		position: relative;
		overflow: hidden;
		margin-bottom: 2px;
		display: flex;
	}
	.title-head {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 500;
		flex: 75;
	}
	.title-right {
		position: absolute;
		right: 0;
		top: 0;
		flex: 25%;
	}
	.title-sub {
		margin-bottom: 10px;
	}
}
