{% assign theme = site.data.data.sidebar.theme %}
<div class="remove-container container-block">
  <h2 class="container-block-title">
    About Theme
  </h2>

  {% if theme %}
  <div class="theme">
	{{ theme | markdownify }}
  </div>
  {% endif %}

     <a class="github-button" href="https://github.com/RicardoUAMmx/webcode" data-icon="octicon-star" data-show-count="true" aria-label="Star RicardoUAMmx/webcode on GitHub">Star</a>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
</div><!--//About-->
