{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section">

  <div class="section-line">
	<div class="section-box-a">
	<h2 class="section-title">
	  <span class="fa-stack fa-xs">
		<i class="fas fa-user fa-stack-1x"></i>
	  </span>
	  {{ career-profile.title }}
	</h2>
	</div>
	<div id="section-box-b-career" class="section-box-b">
	<h2 class="section-title">
	  <span class="fa-stack fa-xs">
		<i id="arrow-down-career" class="fas fa-chevron-down fa-stack-2x"></i>
		<i id="arrow-up-career" class="fas fa-chevron-up fa-stack-2x"></i>
	  </span>
	</div>
	</h2>
  </div>

  <div id="sumary-career" class="summary">
    {{ career-profile.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
