{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <div class="section-line">
	<div class="section-box-a">
	<h2 class="section-title">
	  <span class="fa-stack fa-xs">
		<i class="fas fa-circle fa-stack-2x"></i>
		<i class="fas fa-user fa-stack-1x fa-inverse"></i>
	  </span>
	  {{ career-profile.title }}
	</h2>
	</div>
	<div id="section-box-b" class="section-box-b">
	<h2 class="section-title">
	  <span class="fa-stack fa-xs">
		<i class="fas fa-chevron-down fa-stack-2x"></i>
	  </span>
	</div>
	</h2>
  </div>
  <script>
	(function(){
	  const sectionBoxB = document.getElementById('section-box-b');
	  sectionBoxB.addEventListener('click', () => {
		if (sectionBoxB.style.display === "none"){
		  sectionBoxB.style.display = "block";
		} else {
		  sectionBoxB.style.display = "none";
		}
	  });
	})();
  </script>

  <div id="sumary-career" class="summary">
    {{ career-profile.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
