<div class="contact-container container-block">

  <h2 class="container-block-title">
    Contact
  </h2>

  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if sidebar.citizenship %}
    <li class="phone"><i class="fas fa-passport"></i>
      <a href="">{{ sidebar.citizenship }}</a>
    </li>
    {% endif %}

    {% if sidebar.timezone %}
    <li class="timezone"><i class="fas fa-clock"></i>
      <a href="">{{ sidebar.timezone }}</a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="https://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.drive %}
    <li class="pdf"><i class="fas fa-file-pdf"></i>
      <a href="https://drive.google.com/file/d/{{ sidebar.drive }}/view?usp=sharing" target="_blank">Resume PDF</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
