{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <div class="section-line">
	<div class="section-box-a">
	  <h2 class="section-title">
		<span class="fa-stack fa-xs">
		  <i class="fas fa-circle fa-stack-2x"></i>
		  <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
		</span>
		{{ experiences.title }}
	  </h2>
	</div>
	<div class="section-box-b">
	  <h2 class="section-title">
		<span class="fa-stack fa-xs">
		  <i class="fas fa-chevron-down fa-stack-2x"></i>
		  <i class="fas fa-chevron-up fa-stack-2x"></i>
		</span>
	  </h2>
	</div>
  </div>

  <div class="summary">
  {% for experience in experiences.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ experience.company }}</div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}
  </div>

</section><!--//section-->
{% endif %}

