{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <div class="section-line">
	<div class="section-box-a">
	  <h2 class="section-title">
		<span class="fa-stack fa-xs">
		  <i class="fas fa-circle fa-stack-2x"></i>
		  <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
		</span>
		{{ publications.title }}
	  </h2>
	</div>
	<div id="section-box-b-publications" class="section-box-b">
	  <h2 class="section-title">
		<span class="fa-stack fa-xs">
		  <i id="arrow-down-publications" class="fas fa-chevron-down fa-stack-2x"></i>
		  <i id="arrow-up-publications" class="fas fa-chevron-up fa-stack-2x"></i>
		</span>
	  </h2>
	</div>
  </div>

  <div id="sumary-publications" class="summary">
  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    {% if publication.link %}
      <li><a href="{{ publication.link }}">{{ publication.title }}</a></li>
    {% else %}
      <li>{{ publication.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}
  </div>

</section><!--//section-->
{% endif %}
