{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

	<p class="tagline">About me</p>

	{% if sidebar.about %}
	<div class="about">
	  <i class="fas fa-quote-left"></i>
	  <p>{{ sidebar.about | markdownify }}</p>
	  <i class="fas fa-quote-right"></i>
	</div>
    {% endif %}

	{% if sidebar.hashtags %}
	<p class="tagline">Key Skills</p>
	<div class="hashtags">
	  {% assign hashses = sidebar.hashtags | split: " " %}
	  {% for hash in hashses %}
	  <div class="hash">{{ hash }}</div>
	  {% endfor %}
	</div>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
