{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <div class="section-line">
	<div class="section-box-a">
	  <h2 class="section-title">
		<span class="fa-stack fa-xs">
		  <i class="far fa-circle fa-stack-2x"></i>
		  <i class="fas fa-wrench fa-stack-1x"></i>
		</span>
		{{ skills.title }}
	  </h2>
	</div>
	<div id="section-box-b-skills" class="section-box-b">
	  <h2 class="section-title">
		<span class="fa-stack fa-xs">
		  <i id="arrow-down-skills" class="fas fa-chevron-down fa-stack-2x"></i>
		  <i id="arrow-up-skills" class="fas fa-chevron-up fa-stack-2x"></i>
		</span>
	  </h2>
	</div>
  </div>

  <div id="sumary-skills" class="summary">
  <div class="skillset">

    {% for skill in skills.toolset %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>
  </div>

</section><!--//skills-section-->
{% endif %}
