/* Dracula: Dark theme approach */
$theme-color: #44475A;
$text-color: #282A36;
$text-color-secondary: #6272A4;
$text-grey: #BD93F9;
$divider: #FFB86C;
$lighter-grey: #F1FA8C;
$darker-grey: #666;
$smoky-white: #F8F8F2;
$heart: #F1FA8C;
