---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" data-header-transparent> <!--<![endif]-->
{% include head.html %}

<body>
{% include extensions/fixed-head.html %}

  <div class="wrapper">
	<div class="side-wrapper">
	  {% include extensions/click-to-top.html %}
	</div>
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

